# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

right_format = '$time'

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'
error_symbol = '[?](bold red)'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[username]
disabled = false
format = '$user '
show_always = true

[directory]
style = '24'

[time]
disabled = false
format = '[$time](59)'
time_format = '%H:%M'

[cmd_duration]
format = '[$duration](236)'

[git_branch]
symbol = '[⚝ ](172)'

[git_status]
deleted = '×'
format = '[\($state( $progress_current of $progress_total)\)]($style) '

[rust]
symbol = 'rs '
style = '131'

[python]
symbol = 'py '
style = '29'