"*":
  core:
    disabledPackages: [
      "atom-runner"
      "atom-terminal"
    ]
    themes: [
      "one-dark-ui"
      "iceberg-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 100
  "exception-reporting":
    userId: "5d69f7c8-41a2-c3c7-9b90-6dbcb99453c8"
  fonts:
    fontFamily: "Roboto Mono"
  "ide-haskell": {}
  linter: {}
  "markdown-preview": {}
  welcome:
    showOnStartup: false
